<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Loan Request</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/fonts/material-icon/css/material-design-iconic-font.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Main css -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<nav class="navbar navbar-expand-lg navbar-light px-5 py-3" style="background-color: #ffffff;">
    <a class="navbar-brand" href="#"> <img src="/images/signup-image.png" alt="sing up image" width="200" ></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item mx-2">
                <a class="nav-link" th:href="@{/loanDetails}">Loan Details<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item dropdown mx-2">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    E-SERVICES DIRECTORY
                </a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" href="#">Contact Us</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <div class="col-2 d-flex justify-content-end">
               <span sec:authorize="isAuthenticated">
                    <a th:href="@{/logout}">
                         <button type="button" class="form-submit borderless-button m-0 px-3 py-2" th:onclick="|log();|">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        </button>
                    </a>
                </span>
            </div>

        </form>
    </div>
</nav>


<body>

<div class="main pt-5">
    <section class="LoanDetails">
        <div class="container">
            <div class="signup-content p-4">
                <div class="signup-form">
                    <h2 class="form-title">Loan Request</h2>
                    <form method="POST" action="loanRequest" class="request-loan-form" id="request-loan-form">
                        <div class="form-group">
                            <label for="amount"><i class="zmdi zmdi-money"></i></label>
                            <input type="number" name="amount" id="amount" placeholder="Loan Amount" required min="1" />
                        </div>
                        <div class="form-group">
                            <label for="term"><i class="zmdi zmdi-calendar"></i></label>
                            <input type="number" name="term" id="term" placeholder="Loan Term (years)" required min="1" step="1" />
                        </div>
                        <div class="form-group">
                            <div class="d-flex align-items-center justify-content-end">
                                <label for="type"></label>
                                <select class="form-control mr-2" name="type" id="type" required>
                                    <option value="" disabled selected>Select Loan Type</option>
                                    <option value="RL">Regulaar Loan</option>
                                    <option value="SP">Specialized Projet's Loan</option>
                                    <option value="RO">Regular Operating Loan</option>
                                    <option value="OL">Operating Loans for Specialized Projects</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <button name="submit-loan-request" id="btn_submit" class="form-submit">Submit Loan Request</button>
                        </div>
                    </form>
                </div>
                <div class="signup-image">
                    <figure><img src="/images/loan.svg" alt="sing up image"></figure>
                </div>
            </div>

        </div>
    </section>


</div>

<!-- JS -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/js/main.js" ></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</body>
</html>