<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Loan details</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/fonts/material-icon/css/material-design-iconic-font.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Main css -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<nav class="navbar navbar-expand-lg navbar-light px-5 py-3" style="background-color: #ffffff;">
    <a class="navbar-brand" href="#"> <img src="/images/signup-image.png" alt="sing up image" width="200" ></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active mx-2">
                <a class="nav-link" href="#">Loan Details<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item dropdown mx-2">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    E-SERVICES DIRECTORY
                </a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" href="#">Contact Us</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <div class="col-2 d-flex justify-content-end">
                <span sec:authorize="isAuthenticated">
                    <a th:href="@{/logout}">
                         <button type="button" class="form-submit borderless-button m-0 px-3 py-2" th:onclick="|log();|">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        </button>
                    </a>
                </span>


            </div>

        </form>
    </div>
</nav>

<body>
<div class="main pt-5">

    <section class="LoanDetails">
        <div class="container">
            <div class="p-4 mb-3">
                <h5>Welcome <b>Hutoon AlOmran</b> to the ADF Loan System!<img src="/images/wave.png" width="25"></h5>
            </div>
        </div>
        <div class="container">
            <div class="p-4">
                <div class="row mt-4">
                    <div class="col-9"><h4>Loan details</h4></div>
                    <div class="col-3"><a th:href="@{/loanRequest}" id="loan" class="form-submit m-0" style="color: #ffffff; text-decoration: none;">Request a Loan</a></div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Amount</th>
                                <th scope="col">type</th>
                                <th scope="col">term</th>
                                <th scope="col">Remaining balance</th>
                                <th scope="col">Next payment date</th>
                                <th scope="col">Monthly payment</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>100.000S.R</td>
                                <td>RL</td>
                                <td>3 Years</td>
                                <td>70.000S.R</td>
                                <td>2023-08-21</td>
                                <td>2777.77</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>

<!-- JS -->
<script src="/vendor/jquery/jquery.min.js"></script>-
<script src="/js/main.js" ></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</body>
</html>