<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign In</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/fonts/material-icon/css/material-design-iconic-font.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <!-- Main css -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <div class="main">
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">

                <div class="signin-content">

                    <div class="signin-image">
                        <figure><img src="/images/signin-image.png" alt="sing up image"></figure>
                        <a th:href="@{/SignUp}" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <div th:if="${param.error}">
                            <div class="alert alert-danger" role="alert">
                                Invalid National ID or Password
                            </div>
                        </div>
                        <div th:if="${param.logout}">
                            <div class="alert alert-success" role="alert">
                                Logout successful!
                            </div>
                        </div>

                        <h2 class="form-title">Sign In</h2>
                        <form method="POST" role="form" class="register-form" id="login-form" th:action="@{/SignIn}" th:object="${user}">
                            <div class="form-group">
                                <label for="nid"><i class="zmdi zmdi-account-box-mail"></i></label>
                                <input th:field="*{nid}" type="text" name="nid" id="nid" placeholder="National ID" required pattern="[0-9]{10}" title="Required. 10 Digit characters only"/>
                            </div>
                            <div class="form-group">
                                <label for="password"><i class="zmdi zmdi-lock"></i></label>
                                <input th:field="*{password}" type="password" name="password" id="password" placeholder="Password"/>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Sign in"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>